body {
}
.main-page {
	display: -webkit-flex;
	display: flex;
}

.main-page nav {
	padding: 0 10px;
	border-right: 1px solid grey;
	margin: 0 10px 0 0;
}

.app__icon {
	width: 50px;
	height: 50px;
	padding: 0 10px;
}

.app h2 {
	font-size: 40px;
}

.app h2 * {
	vertical-align: middle;
}

.app-list__apps__app {
	padding: 5px;
	cursor: pointer;
	display: block;
}

.app-list__apps__app:hover {
	background: lightgrey;
}

.app-list__apps__app img {
	width: 25px;
	height: 25px;
	padding-right: 5px;
}

.app-list__apps__app * {
	vertical-align: middle;
}

.progress-bar {
	height: 5px;
	background: blue;
}
